body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.icon-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icon-item {
    align-items: center;
    display: flex;
}
.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.table.is-bordered th,
.table.is-bordered td {
  text-align: center;
  vertical-align: middle;
}
table caption {
  caption-side: top;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
}

.video-container {
    position: relative;
}

.video-label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    font-family: Charter;
    font-size: 14px;
    font-weight: bold;
    padding: 1px 6px;
    z-index: 10;
}

.color1 {
    background-color: #0000FF; /* 正蓝色 */
}

.color2 {
    background-color: #00FF00; /* 正绿色 */
}

.color3 {
    background-color: #FF0000; /* 正红色 */
}

.color4 {
    background-color: #FFA500; /* 正橙色 */
}




.click-hint {
    display: block;
    margin: auto;
    width: 60%;
    font-size: 15px;
    color: #333333;
    /* background-color: #f2f2f2; */
    border: 2px solid #FBBC04;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(254, 239, 195, 0.3);
    text-align: center;
    margin-bottom: 20px;
}

 .head-image {
    background-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 8px; /* 圆角 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 柔和的阴影 */
  }

  .ai {
    font-family: 'Academicons';
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}